h1{
    font-size: 40px;
    background-color: aquamarine;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    text-align: center;
}

.dechad{
    height: 12em;
    width: 12em;
    border-radius: 15px;
    border: 5px solid black;
}

#pameter{
    float: center;
    border-radius: 15px;
    border: 10px solid salmon;
}

#testo{
    border-radius: 25px;
    box-shadow: 4px 4px 10px;
}

#botonchito{
    background-color: aquamarine;
    border-radius: 25px;
    border: 5px solid seagreen;
}


#contenedortestooles{
    width: 100px;
    height: 200px;
}

#bodipractica10{
    background-color: coral;
}